
/* header section  */
.header{
    background-color:black;
    color: white;
}
/* main section  */
.main-container{
    display: flex;
    width: 100%;
}
/* person section  */
.person-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

